.md-typeset h1 {
  /*font-size: 24pt;*/
  font-weight: bold;
  color: #000;
  border-bottom: solid 2px #f18b21;
  padding-bottom: 5px;
}
.md-typeset h2 {
  border-bottom: 1px dotted #888;
}
.md-typeset h3:before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f0a9";
  margin-right: 5px;
}